@using Test.BOL;
@{
    ViewData["Title"] = "Index Page";
}


<div>
    
        <form method="post" action="Insertproduct" class="form-control">
            <tr>
                <td>Id</td>
                <td><input type="number" name="id" id="id" /></td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td><input type="text" name="pname" id="nm" /></td>
            </tr>
            <tr>
                <td>Product Price</td>
                <td><input type="text" name="price" id="pr"/></td>
            </tr>
            <tr>
                <td>Product Brand</td>
                <td><input type="text" name="pbrand" id="brand" /></td>
            </tr>
           

            <button type="submit" class="btn btn-success">Add Data</button>
            
        </form>
    
</div>